// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/.


h2{
  color: black;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}



li{
  color: gray;
  background-position: right;

}


div:hover {
   background-color: transparent;
}

.life{
  background-color : black;
}


.jerk{
  position: fixed;
  bottom: 0;
  width: 100%;
  color: purple;

}
